In [62]:
#Operators:

# Arithmetic Operators
# Comparison (Relational) Operators
# Logical Operators
# Bitwise Operators
# Assignment Operators
# Membership Operators
# Identity Operators
# Ternary Operator

In [65]:
# Arithmetic Operators
# + /Addition will add homogenus element 

# ex: addition of two list

[1,2,3] + [4,5,6]


# it will concat both list in one

[1, 2, 3, 4, 5, 6]

In [67]:
# ex: addition of two tuple

(1,2,3)+(4,5,6)

# it will concat both tuple in one

(1, 2, 3, 4, 5, 6)

In [68]:

p = 'python'

In [70]:
p*3

# it will repeat the string

'pythonpythonpython'

In [73]:
[1,2,3]*3

# it consider whole list as single object and then repeat it 3 times

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [75]:
{1,2,3}*3

#unordered collections  donâ€™t support repetition or indexing.
# if you want repetition of element then 1st type cast the set into list or tuple

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [77]:
# Floor Division

# it will always give lowest value of result


5//2

2

In [39]:
# Comparison (Relational) Operators

a = 10
b = 20

print(a == b)   # False
print(a != b)   # True
print(a > b)    # False
print(a < b)    # True
print(a >= 10)  # True
print(b <= 15)  # False

False
True
False
True
True
False

In [4]:
# Logical Operators
filename = 'copper_daily.csv'

In [80]:
# to us ceiling  we have to import math module
# it alway give upper value in result

import math
math.ceil(5/2)

3

In [84]:
filename.startswith('cop') and filename.endswith('.csv')

True

In [85]:
filename.startswith('sop') and filename.endswith('.csv')

False

In [86]:
not True

False

In [88]:
not False

True

In [2]:
#Membership Operators (in , not in)
# to find a element in ds we can use in operator / find() but in more usefull

p = [34,786,34,7634,755,5,75,6546]

In [92]:
5 in  p

True

In [93]:
# in operator will work in string also

p = 'sdfkjbsdf sdfjkdsfsdfikusdbfsd fsdfkjsdbfsdjhuvfsdjkh 100'

In [94]:
'100' in p

True

In [95]:
p = 'copper_daily_2025_prd.csv'

In [96]:
#to get 2025

'2025' in p

True

In [97]:
emp

{'a': 100, 'b': 200, 'c': 300}

In [99]:
100 in emp.values()

True

In [100]:
100 not in emp.values()

False

In [3]:
# Assignment Operators

a = 10
b = 20

In [32]:
# Identity Operators (is,not is)
# it is memory based comparison

# is vs ==
# is -- memory based comparision
# == - value based comparision

a = 10

In [6]:
b = 10

In [9]:
id(a)

140706814604488

In [8]:
id(b)

140706814604488

In [10]:
# both a and b has same memory address because it is in 8 bit
# only one value 10 in memory created , aand b both point/reffred  to same memory address

In [12]:
a = 50000

In [13]:
b = 50000

In [14]:
id(a)

1663827378768

In [15]:
id(b)

1663827393680

In [16]:
# both a and b have diffrent memory address because it is more than 8 bit in memory and 
# it will spread into diffrent block in memory
# both execution time is diffrent also

In [17]:
a = b = 50000

In [18]:
id(a)

1663827393904

In [19]:
id(b)

1663827393904

In [20]:
# both a and b has same memory address because the exceution time of both in memory at same time

In [22]:
a
b

50000

In [23]:
a = 10

In [27]:
b = 10

In [28]:
# is used for memory based comparison 
a is b

True

In [30]:
# == it is use for value based comparison
a == b

True

In [34]:
# Bitwise Operators (&,|)
# it use bitwsie opreation

# binary -> 2
# decimal -> 10
# octal -> 8
# hexa decimmal ->16


#here logical and is also used
25 & 15

9

In [35]:
# to find binary of any number
# don't consider the first two digit base(2)
bin(25)

'0b11001'

In [36]:
# to find decimal of binary
# first give binary and base value

int('1111',2)

15

In [38]:
#bitwise | (or)
#here logical or is also used
20 | 5

21