In [ ]:
# Strin Data Structure


#' ' / " " -- single line string 
#''' / """ -- multi line string

In [70]:
p = "python"

In [71]:
p = 'python is scripting as well interpreter lang,it's also use in ML'

SyntaxError: unterminated string literal (detected at line 1) (2639174661.py, line 1)

In [72]:

p = "python is scripting as well interpreter lang,it's also use in ML"

In [73]:
p = "python is scripting as well "interpreter" lang,its also use in ML"

SyntaxError: invalid syntax (2036035704.py, line 1)

In [74]:
p = '''python is scripting as' well' "interpreter" lang,its also use in ML'''

In [1]:
p = 'python'

In [75]:
print(p)

python is scripting as' well' "interpreter" lang,its also use in ML

In [76]:
p = '''This example shows version 2.1 of the event notification JSON structure. 
Amazon S3 uses versions 2.1, 2.2, and 2.3 of this event structure. Amazon S3 uses 
version 2.2 for cross-Region replication event notifications. It uses version 2.3 for 
S3 Lifecycle, S3 Intelligent-Tiering, object ACL, object tagging, and object restoration 
delete events. These versions contain extra information specific to these operations. 
Versions 2.2 and 2.3 are otherwise compatible with version 2.1, 
which Amazon S3 currently uses for all other event notification types.'''

In [77]:
print(p)

This example shows version 2.1 of the event notification JSON structure.
Amazon S3 uses versions 2.1, 2.2, and 2.3 of this event structure. Amazon S3 uses
version 2.2 for cross-Region replication event notifications. It uses version 2.3 for
S3 Lifecycle, S3 Intelligent-Tiering, object ACL, object tagging, and object restoration
delete events. These versions contain extra information specific to these operations.
Versions 2.2 and 2.3 are otherwise compatible with version 2.1,
which Amazon S3 currently uses for all other event notification types.

In [78]:
#5/10/25
p = 'python'

In [2]:
p.upper()

'PYTHON'

In [3]:
p = 'JAVA'

In [4]:
p.lower()

'java'

In [5]:
p= 'the python world'

In [6]:
p.capitalize()

'The python world'

In [7]:
p.title()

'The Python World'

In [8]:
p='shubham chinchole'

In [9]:
p.title()

'Shubham Chinchole'

In [10]:
p = 'PyThOn'

In [11]:
# it will change small to capital and capital to samll ex: a -> A | A -> a
p.swapcase()

'pYtHoN'

In [12]:
p = 'safdkjibsdfuysdvfuvsdufs'

In [15]:
p.count('s')

5

In [16]:
p = 'python is use for DE ans python is also use for ML'

In [17]:
p.count('python')

2

In [43]:
p.index('a')

12

In [21]:
#IMP:

#startswith(substring)
#endswith(substring)

#it will alway return true or false

In [19]:
p = 'copper_daily_2025.csv'

In [20]:
p.startswith('copper')

True

In [22]:
p.startswith('co')

True

In [23]:
email = 'test@gmail.com'

In [24]:
email.endswith('@gmail.com')

True

In [25]:
p

'copper_daily_2025.csv'

In [27]:
# find it will return the index of string starting  position
# if string not found then it will return -1


p.find('2026')

-1

In [28]:
if p.find('2025')==-1:
    print("not found")
else:
    print("found")

found

In [29]:
p = 'python'

In [30]:
p.replace('p' ,'J')

'Jython'

In [31]:
#if multiple occurance of char/ word in given string then it will replace all occurance
#if we want only 1st occurance change then we have to give number of that occurance 

p = 'pythonpppptest'

p.replace('p','J',1)

'Jythonpppptest'

In [34]:
p = 'PX-PX232434'

p.replace('PX-','')

'PX232434'

In [35]:
p.replace('PX-PX','')

'232434'

In [36]:
# we can replace white space 
p = 'the sdf gfd asd gfsd '
p.replace(' ','')

'thesdfgfdasdgfsd'

In [37]:
email

'test@gmail.com'

In [39]:
# we can split the string using some delimeter / char/ word /space
# it will alway give output in list 
email.split('@')[0]

'test'

In [40]:
p

'the sdf gfd asd gfsd '

In [2]:
p='copper_daily_2025.csv'

In [45]:
p.split('_')

['copper', 'daily', '2025.csv']

In [46]:
p.split('_')[-1]

'2025.csv'

In [4]:
p.split('_')[-1].split('.')[0]

'2025'

In [50]:
p = '  admin  '

In [51]:
#strip - both end
#lstrip - left end
#rstrip - right end


p.strip()

'admin'

In [52]:
p.lstrip()

'admin  '

In [53]:
p.rstrip()

'  admin'

In [54]:
a  =10
b =40
c = a+b
print(c)

50

In [56]:
# How to take input dfrom user :

x = int(input("Enter the number:"))

Enter the number: 200

In [58]:
x

200

In [60]:
#How to insert dynamic content into string
# using format method

a = 100
b = 200
c = a+b

"Addition of 100 and 200 is 300"


"Addition of {} and {} is  {}".format(a,b,c)

'Addition of 100 and 200 is  300'

In [61]:
#That is called an f-string in Python  // raw string
#Formatted String Literal

f"Addition of {a} and {b} is {c}"

'Addition of 100 and 200 is 300'

In [62]:
'insert into emp values({},{},{})'.format(101,'keshav','pune')

'insert into emp values(101,keshav,pune)'

In [95]:
# read csv file

import csv
with open("C:/Users/SHUBHAM/Downloads/employee_records.csv") as fp:
    r= csv.DictReader(fp)
    for row in r:
        st = "insert into emp values({},'{}','{}')".format(row['eid'],row['ename'],row['emailid'])
        print(st)

insert into emp values(101,'Riya Patel','riya.patel1@example.com')
insert into emp values(102,'Aakash Bansal','aakash.bansal2@outlook.com')
insert into emp values(103,'Kunal Mishra','kunal.mishra3@outlook.com')
insert into emp values(104,'Kiran Gupta','kiran.gupta4@yahoo.com')
insert into emp values(105,'Anita Gupta','anita.gupta5@hotmail.com')
insert into emp values(106,'Sara Bansal','sara.bansal6@example.com')
insert into emp values(107,'Ishita Sharma','ishita.sharma7@yahoo.com')
insert into emp values(108,'Kiran Mishra','kiran.mishra8@gmail.com')
insert into emp values(109,'Simran Gupta','simran.gupta9@hotmail.com')
insert into emp values(110,'Dev Yadav','dev.yadav10@example.com')
insert into emp values(111,'Rahul Smith','rahul.smith11@example.com')
insert into emp values(112,'Priya Patel','priya.patel12@yahoo.com')
insert into emp values(113,'Dev Verma','dev.verma13@example.com')
insert into emp values(114,'Riya Verma','riya.verma14@yahoo.com')
insert into emp values(115,'Anita Yadav','anita.yadav15@yahoo.com')
insert into emp values(116,'Suresh Reddy','suresh.reddy16@gmail.com')
insert into emp values(117,'Riya Joshi','riya.joshi17@gmail.com')
insert into emp values(118,'Neha Patel','neha.patel18@yahoo.com')
insert into emp values(119,'Rahul Jain','rahul.jain19@yahoo.com')
insert into emp values(120,'Neha Yadav','neha.yadav20@yahoo.com')
insert into emp values(121,'Anita Joshi','anita.joshi21@outlook.com')
insert into emp values(122,'Ishita Bansal','ishita.bansal22@yahoo.com')
insert into emp values(123,'Aman Patel','aman.patel23@hotmail.com')
insert into emp values(124,'Rohit Mehta','rohit.mehta24@gmail.com')
insert into emp values(125,'Neha Kapoor','neha.kapoor25@example.com')
insert into emp values(126,'Anita Reddy','anita.reddy26@outlook.com')
insert into emp values(127,'Suresh Rathod','suresh.rathod27@outlook.com')
insert into emp values(128,'Anita Nair','anita.nair28@example.com')
insert into emp values(129,'Aman Patel','aman.patel29@outlook.com')
insert into emp values(130,'Rohit Kapoor','rohit.kapoor30@outlook.com')
insert into emp values(131,'Kiran Mehta','kiran.mehta31@yahoo.com')
insert into emp values(132,'Anita Singh','anita.singh32@example.com')
insert into emp values(133,'Priya Kapoor','priya.kapoor33@example.com')
insert into emp values(134,'Priya Das','priya.das34@example.com')
insert into emp values(135,'Aakash Khan','aakash.khan35@hotmail.com')
insert into emp values(136,'Aman Mehta','aman.mehta36@gmail.com')
insert into emp values(137,'Vikas Sharma','vikas.sharma37@outlook.com')
insert into emp values(138,'Kiran Mishra','kiran.mishra38@hotmail.com')
insert into emp values(139,'Vikas Yadav','vikas.yadav39@hotmail.com')
insert into emp values(140,'Riya Verma','riya.verma40@example.com')
insert into emp values(141,'Pooja Das','pooja.das41@gmail.com')
insert into emp values(142,'Simran Yadav','simran.yadav42@yahoo.com')
insert into emp values(143,'Ishita Mehta','ishita.mehta43@outlook.com')
insert into emp values(144,'Pooja Patel','pooja.patel44@yahoo.com')
insert into emp values(145,'Rahul Singh','rahul.singh45@hotmail.com')
insert into emp values(146,'Rahul Yadav','rahul.yadav46@example.com')
insert into emp values(147,'Riya Rathod','riya.rathod47@example.com')
insert into emp values(148,'Sara Jain','sara.jain48@hotmail.com')
insert into emp values(149,'Sneha Joshi','sneha.joshi49@gmail.com')
insert into emp values(150,'Vikas Bansal','vikas.bansal50@outlook.com')

In [1]:
p = 'python'

In [2]:
p.isalpha()

True

In [3]:
p = '565656'

In [5]:
p.isnumeric()

True

In [6]:
p='dbjhsdswhjdjfww54'

In [7]:
p.isalnum()

True

In [8]:
p= 'ddddwdq!@#$%^&*((())(*&^%$#@!255JJJ'

In [13]:
#to find special char only form string

for char in p:
    if not char.isalnum():
        print(char,end='')

!@#$%^&*((())(*&^%$#@!

In [16]:
#Type casting

#int -> str 

p = 10

In [17]:
str(p)

'10'

In [25]:
#Type casting

#str -> int 
# for this we have to use numeric in str to type cast alpha numeric give error/ not possible

p = '10'

In [26]:
int(p)

10

In [27]:
#Type casting

#float -> int 

p = 22.6

In [28]:
int(p)

22

In [29]:
#Type casting

#int -> float

p =22.6

In [30]:
float(p)

22.6

In [35]:
# type cast into int
#first we have to type cast in float and then in int

p = '23.3'

In [36]:
int(float(p))

23

In [37]:
#Type cast data structure

#list -> tuple

p=[1,2,3,4,5]

In [38]:
tuple(p)

(1, 2, 3, 4, 5)

In [39]:
#Type cast data structure

#tuple -> list

In [40]:
p = (4,5,6,7,8)

In [41]:
list(p)

[4, 5, 6, 7, 8]

In [44]:
# if you have add element in tuple which in immutable 
# the 1st type cast in list and append value in list 
# then again type cast list in tuple

p = (1,2,3,4,5,6)

In [45]:
li = list(p)

In [50]:
li.extend([7,8,9])

In [52]:
p= tuple(li)

In [53]:
p

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [54]:
# to remove duplicate element using type cast

p = [45,86,34,75,23,75,3,76,43,75,6]

In [55]:
# it will remove duplicate but element are un ordered

set(p)

{3, 6, 23, 34, 43, 45, 75, 76, 86}

In [56]:
# to maintain the order as its of result of set then we can use list type cast on set
list(set(p))

[34, 3, 6, 75, 76, 45, 43, 86, 23]

In [7]:
#Type cast data structure

#dict -> list

emp = {'a':100,'b':200,'c':300}

In [58]:
list(emp)

['a', 'b', 'c']

In [59]:
#dict -> tuple

tuple(emp)

('a', 'b', 'c')

In [60]:
# to get only values from dict 

list(emp.values())

[100, 200, 300]

In [61]:
# to get only items from dict 

list(emp.items())

[('a', 100), ('b', 200), ('c', 300)]

In [62]:
#Operators:

# Arithmetic Operators
# Comparison (Relational) Operators
# Logical Operators
# Bitwise Operators
# Assignment Operators
# Membership Operators
# Identity Operators
# Ternary Operator

In [65]:
# Arithmetic Operators
# + /Addition will add homogenus element 

# ex: addition of two list

[1,2,3] + [4,5,6]


# it will concat both list in one

[1, 2, 3, 4, 5, 6]

In [67]:
# ex: addition of two tuple

(1,2,3)+(4,5,6)

# it will concat both tuple in one

(1, 2, 3, 4, 5, 6)

In [68]:

p = 'python'

In [70]:
p*3

# it will repeat the string

'pythonpythonpython'

In [73]:
[1,2,3]*3

# it consider whole list as single object and then repeat it 3 times

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [75]:
{1,2,3}*3

#unordered collections  donâ€™t support repetition or indexing.
# if you want repetition of element then 1st type cast the set into list or tuple

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [77]:
# Floor Division

# it will always give lowest value of result


5//2

2

In [80]:
# to us ceiling  we have to import math module
# it alway give upper value in result

import math
math.ceil(5/2)

3

In [81]:
filename = 'copper_daily.csv'

In [84]:
filename.startswith('cop') and filename.endswith('.csv')

True

In [85]:
filename.startswith('sop') and filename.endswith('.csv')

False

In [86]:
not True

False

In [88]:
not False

True

In [89]:
# to find a element in ds we can use in operator / find() but in more usefull

p = [34,786,34,7634,755,5,75,6546]

In [92]:
5 in  p

True

In [93]:
# in operator will work in string also

p = 'sdfkjbsdf sdfjkdsfsdfikusdbfsd fsdfkjsdbfsdjhuvfsdjkh 100'

In [94]:
'100' in p

True

In [95]:
p = 'copper_daily_2025_prd.csv'

In [96]:
#to get 2025

'2025' in p

True

In [9]:
emp

{'a': 100, 'b': 200, 'c': 300}

In [10]:
100 in emp.values()

True

In [11]:
100 not in emp.values()

False

In [ ]:
print("priya")